@mixin border-shadow-radius{
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#baidu_Map_Box{
  //底部定位蒙版样式
  z-index: 1100;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .box{
    width: 30%;
    height: 60%;
    min-width: 30%;
    min-height: 60%;
    z-index: 1100;
    background: #fff;
    @include border-shadow-radius;

    .title{
      line-height: 35px; padding:0px 20px;color: black;font-size: 16px;
      background: #fff;
      cursor: move;
      user-select:none;
      border-radius: 6px;
      height: 60px;
    }

    .closebutton span{
      float: right;
      display: block;
      color: grey;
      font-size: 17px;
      margin-top: 20px;
    }

  }//box

}//boxMask